@import '../node_modules/font-awesome/css/font-awesome.css';

body {
  margin: 0px;
  background-color: #278ab9;
  font-family: sans-serif;
  font-size: 2em;
}

header {
  background: white;
  padding: 1rem;
  text-align: center;
  border-bottom: solid #a6caff 2px;
}

header img {
  height: 2rem;
}

h1 {
  text-align: center;
  color: white;
}

a {
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
}

.github-ribbon {
  position: absolute;
  right: 0px
}

#demo-list {
  text-align: center;
}
#demo-list nav a {
  display: block
}

.counter {
  color: black;
  background-color: white;
  border-radius: 1rem;
  margin: 2rem 10rem;
  display: grid;
  grid-template-columns: 2fr 5fr 2fr;
  grid-template-rows: 1fr 6fr 1fr 1fr;
  grid-column-gap: 30px;
  grid-row-gap: 0px;
  padding: 3rem;
}
.counter h2 {
  grid-column: 2;
  grid-row-start: 1;
  grid-row-end: 4;
  text-align: center;
  display: block;
  font-size: 12rem;
  line-height: 6rem;
}
.counter button {
  cursor: pointer;
  margin: 5rem 0rem;
  background: #44a9ff;
  font-size: 5rem;
  border: none;
  color: white;
  padding: 0rem;
  text-align: center;
  font-weight: bold;
  border: solid 0.2rem transparent;
  border-radius: 1rem;
  outline: none;
}
.counter button:hover {
  color: #347ebd;
  background: white;
  border-color: #347ebd;
}
.counter button.decrement {
  grid-column: 1;
  grid-row: 2;
}
.counter button.increment {
  grid-column: 3;
  grid-row: 2;
}
.counter a {
  grid-row: 4;
  grid-column-start: 1;
  grid-column-end: 4;
  text-align: center;
}
@media only screen and (max-width: 1000px) {
  .counter {
    margin: 0 1rem;
    padding: 2rem;
    grid-column-gap: 10px;
  }
  .counter h2 {
    font-size: 6rem;
    line-height: 8rem;
  }
  .counter button {
    font-size: 2rem;
  }
}

#read-only-app h2 {
  text-align: center;
  font-size: 10rem;
}
